<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.mealdiary.meal.MealMapper">


    <!--일지 리스트-->
    <select id="selMeal">
        SELECT
            A.imeal,
            A.title,
            A.review,
            A.created_at AS createdAt
        FROM t_meal A
        <if test="search2!=null">
            <choose>
                <when test="existHashSign">
                    JOIN t_meal_tag B
                    ON A.imeal= B.imeal
                    WHERE B.tag LIKE #{search2} <!--like "%찌개%"}-->
                    <if test="bookmark==1">
                        AND A.bookmark= 1
                    </if>
                </when>
                <otherwise>
                    WHERE A.title LIKE #{search2}<!--like "%찌개%"-->
                    <if test="bookmark==1">
                        AND A.bookmark= 1
                    </if>
                </otherwise>
            </choose>
        </if>
        <if test= "bookmark==1 and search2==null">
            WHERE A.bookmark= 1
        </if>
        GROUP BY A.imeal
        ORDER BY A.imeal desc
        LIMIT #{startIdx}, #{rowCount}
    </select>
    <select id="selMealPicByImealList">
        SELECT
            imeal,
            pic
        FROM t_meal_pic
        WHERE imeal IN
        <foreach collection="imealList" item="imeal" open="(" close=")" separator=",">
            #{imeal}
        </foreach>
    </select>
    <select id="selMealTagByImealList">
        SELECT
            imeal,
            tag
        FROM t_meal_tag
        WHERE imeal IN
        <foreach collection="imealList" item="imeal" open="(" close=")" separator=",">
            #{imeal}
        </foreach>
    </select>


    <!--일지 수정(사진, 태그 제외)-->
    <update id="updMeal">
        UPDATE
        t_meal
        SET
            title= #{title},
            ingredient=#{ingredient},
            recipe= #{recipe},
            review= #{review}
        WHERE imeal= #{imeal}
    </update>



    <!--일지 작성-->
    <insert id="insMeal" useGeneratedKeys="true" keyProperty="imeal">
        INSERT INTO
        t_meal
        SET
            iuser= #{iuser},
            title=#{title},
            ingredient=#{ingredient},
            recipe= #{recipe},
            review= #{review}
    </insert>
    <insert id="insMealPics">
        INSERT INTO
        t_meal_pic
            (imeal, pic)
        VALUES
        <foreach collection="pics" item="pic" separator=",">
            (#{imeal}, #{pic})
        </foreach>
    </insert>
    <insert id="insMealTags">
        INSERT INTO
        t_meal_tag
            (imeal, tag)
        VALUES
        <foreach collection="tags" item="tag" separator=",">
            (#{imeal}, #{tag})
        </foreach>
    </insert>


    <!--일지 삭제-->
    <select id="selMealByImeal">
        SELECT
            imeal
        FROM t_meal
        WHERE imeal= #{imeal}
    </select>
    <select id="picCntByImeal">
        SELECT
            COUNT(*)
        FROM t_meal_pic
        WHERE imeal= #{imeal}
    </select>
    <delete id="delMealPicByImeal">
        DELETE
        FROM t_meal_pic
        WHERE imeal= #{imeal}
    </delete>
    <select id="tagCntByImeal">
        SELECT
            COUNT(*)
        FROM t_meal_tag
        WHERE imeal= #{imeal}
    </select>
    <delete id="delMealTagByImeal">
        DELETE
        FROM t_meal_tag
        WHERE imeal= #{imeal}
    </delete>
    <delete id="delMeal">
        DELETE
        FROM t_meal
        WHERE imeal= #{imeal}
    </delete>


    <!--일지 태그 추가-->
    <insert id="insMealTag">
        INSERT INTO
        t_meal_tag
        SET
            imeal= #{imeal},
            tag= #{tag}
    </insert>


    <!--일지 태그 삭제-->
    <delete id="delMealTag">
        DELETE
        FROM t_meal_tag
        WHERE itag= #{itag}
    </delete>


    <!--일지 사진 추가-->
    <insert id="insMealPic">
        INSERT INTO
        t_meal_pic
        SET
            imeal= #{imeal},
            pic= #{pic}
    </insert>


    <!--일지 사진 삭제-->
    <delete id="delMealPic">
        DELETE
        FROM t_meal_pic
        WHERE ipic= #{ipic}
    </delete>


    <!--북마크 온오프-->
    <update id="toggleBookmark">
        <selectKey resultType="int" keyProperty="bookmark" order="BEFORE">
            SELECT
                bookmark
            FROM t_meal
            where imeal= #{imeal}
        </selectKey>
        UPDATE
        t_meal
        SET
        <choose>
            <when test="bookmark==1">
                bookmark= 0
            </when>
            <otherwise>
                bookmark= 1
            </otherwise>
        </choose>
        WHERE imeal= #{imeal}
    </update>


    <!--일지 상세 정보1-->
    <select id="selDetail">
        SELECT
            imeal,
            title,
            ingredient,
            recipe,
            review,
            bookmark,
            created_at AS createdAt
        FROM t_meal
        WHERE imeal= #{imeal}
    </select>
    <!--일지 상세 정보2-->
    <select id="selMealPics">
        SELECT
            pic
        FROM t_meal_pic
        WHERE imeal= #{imeal}
    </select>
    <!--일지 상세 정보3-->
    <select id="selMealTags">
        SELECT
            tag
        FROM t_meal_tag
        WHERE imeal= #{imeal}
    </select>


</mapper>